<h2>Song: <%= @songs.name %></h2>
<h3>Album: <%= @songs.album.name %></h3>

<form action="/albums/<%= @song.album.id %>/songs/<%= @song.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename song</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update song</button>
</form>

<form action="/albums/<%= @song.album.id %>/songs/<%= @song.id %>" method="post">
  <input name="_method" type="hidden" value="post">

  <button type="submit">Delete song</button>
</form>

<a href="/albums/<%= @song.album.id %>">Back to <%= @songs.album.name %></a>